.homepage {
    background-color: grey;
    width: 500px;
    margin: auto;
    ul {
        list-style: none;
        li {
            margin: 20px;
            a {
                color: black;
                text-decoration: none;
            }
        }
    }
}