
@font-face {
  font-family: character-name;
  src: url(../fonts/KGRedHands.ttf);
}

.characters {
  display: flex;
  width: 82%;
  margin: auto;
  flex-wrap: wrap;
  justify-content: center;
}

.characters.loading {
  display: block;
  min-height: 1000px;
}